* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
}

html {
    scroll-behavior:smooth;
}

:root {
    --main-color: #10CAB7;
    --secondery-color: #2c4755;
}

@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
}
.welcom{
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.59);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--secondery-color);
    padding-top: 30%;
    transition: 2s;
}
.welcom:hover{
    background-color: rgba(255, 255, 255, 0.131);
    color: var(--secondery-color);
}


header {
    padding: 20px;
}

header .logo {
    width: 80px;
}

header .container .menue ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    flex-basis: 20%;
}

@media(max-width:900px) {
    header .container .menue {
        display:none;
    }
}

@media(min-width:900px) {
    header .links {
            display:none;
        }
}

header .container .menue ul li {
    margin: 10px;
    color: var(--secondery-color);
    font-weight: bold;
    font-size: 20px;
    position: relative;
    padding-right: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

header .container .menue ul li::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: rgb(2, 33, 33);
    position: absolute;
    bottom: -6px;
    transition: .5s;
    left: 0;
}

header .container .menue ul li:hover::before {
    width: 100%;
}
header .menue ul li a{
    text-decoration: none;
    color: var(--secondery-color);
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header .links {
    position: relative;
}

header .links i {
    color: var(--main-color);
    font-size: 30px;
}

header .links i:hover {
    cursor: pointer;
}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

header .links .close {
    padding: 5px;
    margin: 5px;
    width: max-content;
    color:white;
    text-align: center;
    background-color: var(--secondery-color);
    border-radius:5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: none;
    transition: 1s;
}

.links li a {
    display: block;
    color: rgb(10, 10, 10);
    text-decoration: none;
    padding: 15px;
    transition: .3s;
}

.links li a:hover {
    padding-left: 25px;
    color: #333;

}

header .links ul li:not(:last-child) a {
    border-bottom: 1px solid rgb(39, 39, 39);
}


.landing {
    background-image: url(../2.jpg);
    height: calc(100vh - 64px);
    background-size: cover;
    background-clip: content-box;
    height: 100vh;
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.50);
    font-weight: bold;
}

.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: whitesmoke;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

.special-heading {
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: rgb(120, 120, 120);
}

/* ======================================================================================================== */
.services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
    border-radius: 5px;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

.image::before {
    content: "";
    color: var(--secondery-color);
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(249, 245, 245);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
    border-radius: 5px;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

.about {
    padding-top: 100px;
    padding-bottom: calc(100px + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

.footer {
    background-color: var(--secondery-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}